<div>
  <h3>Транспорт</h3>
  <dx-data-grid id="gridContainer"
                [dataSource]="dataSource"
                [remoteOperations]="true"
                [showColumnLines]="true"
                [showBorders]="true"
                [allowColumnReordering]="true"
                [rowAlternationEnabled]="false"
                [width]="'100%'">
    <dxo-paging [pageSize]="25"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true"
               [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
    <dxo-search-panel [visible]="true"
                      [highlightCaseSensitive]="true"></dxo-search-panel>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxi-column dataField="cTitle"
                caption="Наименование"
                dataType="string">
    </dxi-column>
    <dxi-column dataField="cSalerName"
                caption="Продавец"
                dataType="string">
    </dxi-column>
    <dxi-column dataField="cDescription"
                caption="Описание"
                dataType="string">
    </dxi-column>
    <dxi-column dataField="cOriginDate"
                caption="Дата производства"
                dataType="date"
                format="dd.MM.yyyy"
                [allowSearch]="true"
                alignment="right"></dxi-column>
  </dx-data-grid>
</div>

